<div class="row">
  <div class="col">
    <div class="{{pointClass}}" id="{{pointID0}}"></div>
  </div>
  <div class="col">
    <div class="{{pointClass}}" id="{{pointID1}}"></div>
  </div>
  <div class="col">
    <div class="{{pointClass}}" id="{{pointID2}}"></div>
  </div>
  <div class="col">
    <div class="{{pointClass}}" id="{{pointID3}}"></div>
  </div>
  <div class="col">
    <div class="{{pointClass}}" id="{{pointID4}}"></div>
  </div>
</div>