<div class="row">
  <div class="col">
    <div class="{{pointClass}}" id="{{pointID}}"></div>
  </div>
  <div class="col">
    <div class="{{pointClass}}" id="{{pointID}}"></div>
  </div>
  <div class="col">
    <div class="{{pointClass}}" id="{{pointID}}"></div>
  </div>
  <div class="col">
    <div class="{{pointClass}}" id="{{pointID}}"></div>
  </div>
  <div class="col">
    <div class="{{pointClass}}" id="{{pointID}}"></div>
  </div>
  <div class="col">
    <div class="{{pointClass}}" id="{{pointID}}"></div>
  </div>
</div>