<div class="row">
  <div class="col">
    <div class="{{pointClass0}}" id="{{pointID}}"></div>
  </div>
  <div class="col">
    <div class="{{pointClass1}}" id="{{pointID}}"></div>
  </div>
  <div class="col">
    <div class="{{pointClass2}}" id="{{pointID}}"></div>
  </div>
  <div class="col">
    <div class="{{pointClass3}}" id="{{pointID}}"></div>
  </div>
  <div class="col">
    <div class="{{pointClass4}}" id="{{pointID}}"></div>
  </div>
  <div class="col">
    <div class="{{pointClass5}}" id="{{pointID}}"></div>
  </div>
</div>