<div class="row">
  <div class="col">
    <div class="{{pointClass0}}" id="{{pointID0}}"></div>
  </div>
  <div class="col">
    <div class="{{pointClass1}}" id="{{pointID1}}"></div>
  </div>
  <div class="col">
    <div class="{{pointClass2}}" id="{{pointID2}}"></div>
  </div>
  <div class="col">
    <div class="{{pointClass3}}" id="{{pointID3}}"></div>
  </div>
  <div class="col">
    <div class="{{pointClass4}}" id="{{pointID4}}"></div>
  </div>
  <div class="col">
    <div class="{{pointClass5}}" id="{{pointID5}}"></div>
  </div>
</div>